In [1]:
import pandas as panda

In [2]:
df = panda.read_csv('sample_data/california_housing_test.csv')

In [4]:
len(df)

3000

In [6]:
df.shape

(3000, 9)

In [7]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [9]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [18]:
df[df['median_income'] < 2]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [19]:
df[df['housing_median_age'] < 20][df['median_house_value'] > 70000]

<ipython-input-19-8df428f05066>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['housing_median_age'] < 20][df['median_house_value'] > 70000]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
...,...,...,...,...,...,...,...,...,...
2978,-121.34,38.64,17.0,2761.0,501.0,1128.0,482.0,3.7562,139700.0
2981,-120.66,35.49,17.0,4422.0,945.0,2307.0,885.0,2.8285,171300.0
2984,-117.59,33.88,13.0,3239.0,849.0,2751.0,813.0,2.6111,107000.0
2985,-120.47,34.94,17.0,1368.0,308.0,642.0,303.0,1.8633,109400.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0

In [22]:
df[df['housing_median_age'] < 20][df['housing_median_age'] < 2]['median_house_value'].head(n=2)

<ipython-input-22-9e13d7245376>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['housing_median_age'] < 20][df['housing_median_age'] < 2]['median_house_value'].head(n=2)

842     141700.0
1115     55000.0
Name: median_house_value, dtype: float64

In [25]:
df[df['median_income'] == 3.1250]['median_house_value'].max()

233300.0

In [33]:
df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

1230.0

# Task 40-41

In [34]:
df = panda.read_csv('sample_data/california_housing_trainMb.csv')

In [35]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [36]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [37]:
df.shape

(17000, 9)

In [42]:
print(df[df['population'] < 500]['median_house_value'].mean())

206683.83635227982

In [43]:
df[df['population'] == df['population'].min()]['households'].max()

4.0